.modal {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--primary400);
    padding: 16px;
}

.close_button {
    float: right;
    margin-right: 20px;
}

.modal .icon_button {
    margin: unset;
}
