.red .ui_inputfield_flatline_kvrmz {
    background-color: rgba(255, 0, 0, 0.082) !important;
}

.orange .ui_inputfield_flatline_kvrmz {
    background-color: rgba(255, 145, 0, 0.082) !important;
}

.green .ui_inputfield_flatline_kvrmz {
    background-color: rgba(0, 255, 0, 0.082) !important;
}
