#sidebar_menu .ui_menu_item_4jpdr:first-child :first-child {
    color: var(--blue600);
}

#sidebar_menu .ui_menu_item_4jpdr:nth-child(2) :first-child {
    color: var(--yellow600);
}

#sidebar_menu .ui_menu_item_4jpdr:nth-child(3) :first-child {
    color: var(--red600);
}

#sidebar_menu .ui_menu_item_4jpdr:nth-child(4) :first-child {
    color: var(--green600);
}

#sidebar_menu .ui_menu_item_4jpdr:nth-child(5) :first-child {
    color: var(--teal600);
}
