/* Overrides for various D2 UI components */

/* Avoid issue with menu card getting too long. */
.ui_card_base_l2vmf {
    height: auto !important;
}

/* Setting valid radio to green, if not disabled. */
.ui_radio_valid-icon_ixvar:not(.ui_radio_disabled_ixvar) {
    color: var(--green600) !important;
}

/* Scrollbar for select dropdown. */
.ui_selectfield_menu_1a3v8 > .ui_card_base_l2vmf {
    overflow: auto;
    max-height: 300px;
}

/* Same width on dropdown as select field. */
.ui_selectfield_menu_1a3v8 {
    width: inherit !important;
}

/* Test value background color based on result. */
.red .ui_inputfield_flatline_kvrmz {
    background-color: rgba(255, 0, 0, 0.082) !important;
}
.yellow .ui_inputfield_flatline_kvrmz {
    background-color: rgba(255, 255, 0, 0.082) !important;
}
.green .ui_inputfield_flatline_kvrmz {
    background-color: rgba(0, 255, 0, 0.082) !important;
}

/* Sidebar menu icon colors. */
#sidebar_menu .ui_menu_item_4jpdr:first-child :first-child {
    color: var(--blue600);
}
#sidebar_menu .ui_menu_item_4jpdr:nth-child(2) :first-child {
    color: var(--yellow600);
}
#sidebar_menu .ui_menu_item_4jpdr:nth-child(3) :first-child {
    color: var(--red600);
}
#sidebar_menu .ui_menu_item_4jpdr:nth-child(4) :first-child {
    color: var(--green600);
}
#sidebar_menu .ui_menu_item_4jpdr:nth-child(5) :first-child {
    color: var(--teal600);
}
#sidebar_menu .ui_menu_item_4jpdr:last-child :first-child {
    color: black;
}

/* Required star color and spacing. */
.ui_selectfield_label_1a3v8.ui_selectfield_required_1a3v8::after,
.ui_inputfield_label_kvrmz.ui_inputfield_required_kvrmz::after {
    color: var(--red600);
    padding-left: 4px;
}
