body {
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
    font-family: Roboto;
    letter-spacing: 0.0075em;
}

.arrow_back:hover {
    color: var(--primary800);
}

.ui_card_base_l2vmf {
    height: auto !important;
}

.table h6 {
    margin-left: 8px !important;
}

/* Setting valid radio to green, if not disabled. */
.ui_radio_valid-icon_ixvar:not(.ui_radio_disabled_ixvar) {
    color: var(--green600) !important;
}

/* Scrollbar for select dropdown */
.ui_selectfield_menu_1a3v8 > .ui_card_base_l2vmf {
    overflow: auto;
    max-height: 300px;
}

/* Same width on dropdown as field */
.ui_selectfield_menu_1a3v8 {
    width: inherit !important;
}

.red .ui_inputfield_flatline_kvrmz {
    background-color: rgba(255, 0, 0, 0.082) !important;
}

.orange .ui_inputfield_flatline_kvrmz {
    background-color: rgba(255, 145, 0, 0.082) !important;
}

.green .ui_inputfield_flatline_kvrmz {
    background-color: rgba(0, 255, 0, 0.082) !important;
}

#sidebar_menu .ui_menu_item_4jpdr:first-child :first-child {
    color: var(--blue600);
}

#sidebar_menu .ui_menu_item_4jpdr:nth-child(2) :first-child {
    color: var(--yellow600);
}

#sidebar_menu .ui_menu_item_4jpdr:nth-child(3) :first-child {
    color: var(--red600);
}

#sidebar_menu .ui_menu_item_4jpdr:nth-child(4) :first-child {
    color: var(--green600);
}

#sidebar_menu .ui_menu_item_4jpdr:nth-child(5) :first-child {
    color: var(--teal600);
}
