body {
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
    font-family: Roboto;
    letter-spacing: 0.0075em;
}

.text {
    margin: 12px 0;
    line-height: 24px;
}

.label {
    font-weight: 500;
}

.title {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 500;
}

.heading {
    margin: 40px 0 30px 0;
    color: #0d0d0e;
    font-size: 1.25rem;
    line-height: 1.6;
    font-weight: 500;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.wrapped {
    flex-wrap: wrap;
}

/* Max height for select dropdown */
html[dir='ltr'] .ui_selectfield_menu_udicv .ui_card_base_l2vmf {
    max-height: 300px;
}

/* Scrollbar for select dropdown */
html[dir] .ui_selectfield_menu_udicv > .ui_card_base_l2vmf {
    overflow: auto;
}

.icon_button .ui_icon_base_1s8vb {
    font-size: 2rem;
    cursor: pointer;
}

.icon_button {
    height: 32px;
    margin-right: 16px;
    margin-top: 23px;
}

.arrow_back:hover {
    color: var(--primary);
    background: #0d0d0e;
}

.icon_button:hover {
    background: var(--idle);
    border-radius: 50%;
}

.ui_card_base_l2vmf {
    height: auto !important;
}

.input {
    min-width: 300px;
}
