body {
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.text {
    margin: 12px 0;
    line-height: 24px;
}

.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}
html[dir='ltr'] .ui_selectfield_menu_udicv .ui_card_base_l2vmf {
    max-height: 300px;
}
html[dir] .ui_selectfield_menu_udicv > .ui_card_base_l2vmf {
    overflow: auto;
}
.heading {
    margin: 40px 0 30px 0;
    color: #0d0d0e;
    font-size: 24px;
    line-height: 28px;
}
